<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/customadmin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <title>
      {% block title %}

        Administration -
      {% endblock %}
    </title>
    {% block style %}{% endblock %}

  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <a class="navbar-brand" href="index.php">LégendariuM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block activeAC %}{% endblock %}">
        <a class="nav-link" href="index.php?page=administration">Accueil</a>
      </li>
      <li class="nav-item {% block activeUS %}{% endblock %}">
        <a class="nav-link" href="index.php?page=adminutilisateur">Utilisateur</a>
      </li>
      <li class="nav-item {% block activeLI %}{% endblock %}">
        <a class="nav-link" href="index.php?page=adminlivre">Livre</a>
      </li>
      <li class="nav-item {% block activeCO %}{% endblock %}">
        <a class="nav-link" href="index.php?page=admincollection">Collection</a>
      </li>
      <li class="nav-item {% block activeGE %}{% endblock %}">
        <a class="nav-link" href="index.php?page=admingenre">Genre</a>
      </li>
      <li class="nav-item {% block activeAU %}{% endblock %}">
        <a class="nav-link" href="index.php?page=adminauteur">Auteur</a>
      </li>
      <li class="nav-item {% block activeED %}{% endblock %}">
        <a class="nav-link" href="index.php?page=adminediteur">Editeur</a>
      </li>
      <li class="nav-item {% block activeDI %}{% endblock %}">
        <a class="nav-link" href="index.php?page=admindisponibilite">Disponibilité</a>
      </li>
      <li class="nav-item {% block activeEV %}{% endblock %}">
        <a class="nav-link" href="index.php?page=adminevent">Event</a>
      </li>

    </ul>
    {% if session.login is defined %}
      <ul class="navbar-nav ">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
            <!--
            image profile option
            <img src="images/images.png" alt="Bootstrap" style="width:35px; height:35px ;">
          -->
          </a>
          <div class="dropdown-menu dropdown-menu-right drop-color " aria-labelledby="navbarDropdown" >
            <h6 class="dropdown-header">{{session.login}}</h6>
            <a class="dropdown-item" href="#index.php?page=profil">
              <i class="fas fa-user-cog">&nbsp;</i>&nbsp;Paramètres du compte</a>
              <a class="dropdown-item" href="index.php">
                <i class="fas fa-home">&nbsp;</i>&nbsp;Page Client</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="index.php?page=deconnexion">
              <i class="fas fa-sign-out-alt">&nbsp;</i>&nbsp;Déconnexion</a>
          </div>
        </li>
      </ul>
    {% else %}
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=connexion">Connexion</a>
        </li>
      </ul>
    {% endif %}
    </div>
    </nav>

<main role="main">

  {% block body %}

    <div class="container-fluid" style="margin-top:0em">

      <div class="row" style="padding:1em;height:100%">
{% block contenu %}

{% endblock %}
</div>
</div>
  {% endblock %}

</main>
<!-- Footer ================================================== -->
<footer class="footer textcenter">
  <div  id="borderCadre" style="max-width:1000px;  display: block;
    margin-left: auto;
    margin-right: auto;">
    <p style="font-size: 15px;
      ">
      Copyright © 2019/2020 Mise en avant - Réalisation T.Mendes et T.Lefebvre
    </p>
  </div>

</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>


  </body>

</html>
