{% extends "administrationbase.html.twig" %}

{% block title %}
  {{ parent() }}
  home
{% endblock %}
{% block activeAC %}active{% endblock %}
{% block contenu %}

<div class="textcenter" style="max-width:700px;  display: block;
  margin-left: auto;
  margin-right: auto;">
  <h3 id="borderTitre" style="padding:1em 2em; margin-top:0em;">Page administration de Légendarium</h3>
</div>





{% endblock %}
